<p id="notice"><%= notice %></p>

<p>
  <strong>Casting director:</strong>
  <%= @film_caster.casting_director_id %>
</p>

<p>
  <strong>Film:</strong>
  <%= @film_caster.film_id %>
</p>

<%= link_to 'Edit', edit_film_caster_path(@film_caster) %> |
<%= link_to 'Back', film_casters_path %>
