<p id="notice"><%= notice %></p>

<h1>Actors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date of birth</th>
      <th>Gender</th>
      <th>Headshot link</th>
      <th>Instagram</th>
      <th>Release form link</th>
      <th>Medical form link</th>
      <th>Availability</th>
      <th>Phone number</th>
      <th>Actor weight</th>
      <th>Actor height</th>
      <th>Nationality</th>
      <th>Eye color</th>
      <th>Hair color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <td><%= actor.name %></td>
        <td><%= actor.date_of_birth %></td>
        <td><%= actor.gender %></td>
        <td><%= actor.headshot_link %></td>
        <td><%= actor.instagram %></td>
        <td><%= actor.release_form_link %></td>
        <td><%= actor.medical_form_link %></td>
        <td><%= actor.availability %></td>
        <td><%= actor.email %></td>
        <td><%= actor.username %></td>
        <td><%= actor.password_digest %></td>
        <td><%= actor.phone_number %></td>
        <td><%= actor.actor_weight_id %></td>
        <td><%= actor.actor_height_id %></td>
        <td><%= actor.nationality_id %></td>
        <td><%= actor.eye_color_id %></td>
        <td><%= actor.hair_color_id %></td>
        <td><%= link_to 'Show', actor %></td>
        <td><%= link_to 'Edit', edit_actor_path(actor) %></td>
        <td><%= link_to 'Destroy', actor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Actor', new_actor_path %>
