<p id="notice"><%= notice %></p>

<h1>Hair Colors</h1>

<table>
  <thead>
    <tr>
      <th>Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hair_colors.each do |hair_color| %>
      <tr>
        <td><%= hair_color.color %></td>
        <td><%= link_to 'Show', hair_color %></td>
        <td><%= link_to 'Edit', edit_hair_color_path(hair_color) %></td>
        <td><%= link_to 'Destroy', hair_color, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hair Color', new_hair_color_path %>
