<%= form_for(actor_picture) do |f| %>
  <% if actor_picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(actor_picture.errors.count, "error") %> prohibited this actor_picture from being saved:</h2>

      <ul>
      <% actor_picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :picture_link_id %>
    <%= f.number_field :picture_link_id %>
  </div>

  <div class="field">
    <%= f.label :actor_id %>
    <%= f.number_field :actor_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
